@using Zoekjaar.Web.Models
@using Zoekjaar.Web.Extensions

@model JobModel

@if (Model.IsSuccessful.HasValue)
{
	if (Model.IsSuccessful.Value)
	{
	<div class="alert alert-success">Job Posted.</div>
	}
	else
	{ 
	<div class="alert alert-error">There was an error in saving the Job.</div>
	}
}
<div class="row-fluid form-inline">
	<div class="control-group span4">
		@Html.ControlLabelFor(_ => _.NewJob.JobNumber)
		@Html.TextBoxFor(_ => _.NewJob.JobNumber, new { @class = "span12" })
		@Html.ControlValidationMessageFor(_ => _.NewJob.JobNumber)
	</div>
	<div class="control-group span4">
		@Html.ControlLabelFor(_ => _.NewJob.JobType)
		@Html.TextBoxFor(_ => _.NewJob.JobType, new { @class = "span12" })
		@Html.ControlValidationMessageFor(_ => _.NewJob.JobType)
	</div>
</div>
<div class="row-fluid">
	<div class="control-group span4">
		@Html.ControlLabelFor(_ => _.NewJob.HiringManager)
		@Html.TextBoxFor(_ => _.NewJob.HiringManager, new { @class = "span12" })
		@Html.ControlValidationMessageFor(_ => _.NewJob.HiringManager)
	</div>
	<div class="control-group span4">
		@Html.ControlLabelFor(_ => _.NewJob.JobFunction)
		@Html.TextBoxFor(_ => _.NewJob.JobFunction, new { @class = "span12" })
		@Html.ControlValidationMessageFor(_ => _.NewJob.JobFunction)
	</div>
</div>
<div class="row-fluid">
	<div class="control-group span4">
		@Html.ControlLabelFor(_ => _.NewJob.HrManager)
		@Html.TextBoxFor(_ => _.NewJob.HrManager, new { @class = "span12" })
		@Html.ControlValidationMessageFor(_ => _.NewJob.HrManager)
	</div>
	<div class="control-group span4">
		@Html.ControlLabelFor(_ => _.NewJob.OrgLevel)
		@Html.TextBoxFor(_ => _.NewJob.OrgLevel, new { @class = "span12" })
		@Html.ControlValidationMessageFor(_ => _.NewJob.OrgLevel)
	</div>
</div>
<div class="row-fluid">
	<div class="control-group span4">
		@Html.ControlLabelFor(_ => _.NewJob.JobDescription)
		@Html.TextAreaFor(_ => _.NewJob.JobDescription, new { @class = "span12", rows = "3" })
		@Html.ControlValidationMessageFor(_ => _.NewJob.JobDescription)
	</div>
</div>
<div class="row-fluid">
	<div class="control-group span4">
		@Html.ControlLabelFor(_ => _.NewJob.Criteria)
		@Html.TextAreaFor(_ => _.NewJob.Criteria, new { @class = "span12", rows = "3" })
		@Html.ControlValidationMessageFor(_ => _.NewJob.Criteria)
	</div>
</div>
<div class="row-fluid">
	<div class="control-group span4">
		@Html.ControlLabelFor(_ => _.NewJob.Degree)
		@Html.TextBoxFor(_ => _.NewJob.Degree, new { @class = "span12" })
		@Html.ControlValidationMessageFor(_ => _.NewJob.Degree)
	</div>
</div>
<div class="row-fluid">
	<div class="control-group span4">
		@Html.ControlLabelFor(_ => _.NewJob.Specialisation)
		@Html.TextBoxFor(_ => _.NewJob.Specialisation, new { @class = "span12" })
		@Html.ControlValidationMessageFor(_ => _.NewJob.Specialisation)
	</div>
</div>
<div class="row-fluid">
	<div class="control-group span4">
		@Html.ControlLabelFor(_ => _.NewJob.OtherCriteria)
		@Html.TextAreaFor(_ => _.NewJob.OtherCriteria, new { @class = "span12", rows = "3" })
		@Html.ControlValidationMessageFor(_ => _.NewJob.OtherCriteria)
	</div>
</div>
<div class="row-fluid">
	<div class="control-group span4">
		@Html.ControlLabelFor(_ => _.NewJob.VisaStatusId)
		@Html.DropDownListFor(_ => _.NewJob.VisaStatusId, new SelectList(Model.VisaStatus, "Id", "Name"), new { @class = "span12" })
		@Html.ControlValidationMessageFor(_ => _.NewJob.VisaStatusId)
	</div>
</div>
<div class="row-fluid">
	<div class="control-group span4">
		@Html.ControlLabelFor(_ => _.NewJob.StartDate)
		@Html.TextBoxFor(_ => _.NewJob.StartDate, new { @class = "span12" })
		@Html.ControlValidationMessageFor(_ => _.NewJob.StartDate)
	</div>
</div>
