@using Zoekjaar.Web.Models
@using Zoekjaar.Resources
@using Entities
@using Core.Extensions

@model GraduateProfileModel

@{
	ViewBag.Title = ApplicationStrings.Profile;
	var currentStatus = ((Identifiers.CurrentStatus)Model.Graduate.CurrentStatusId).GetDisplayName();
	var visaStatus = ((Identifiers.VisaStatus)Model.Graduate.VisaStatusId).GetDisplayName();
}
<div class="container">
	<div class="headline">
		<h3>@Model.Graduate.LastName, @Model.Graduate.FirstName</h3>
		<ul class="unstyled inline pull-right">
			@if (!string.IsNullOrEmpty(Model.Graduate.LinkedIn))
   { 
				<li><a href="#"><i class="icon-linkedin"></i>@Model.Graduate.LinkedIn</a></li>
   }
			@if (!string.IsNullOrEmpty(Model.Graduate.GooglePlus))
   { 
				<li><a href="#"><i class="icon-google-plus"></i>@Model.Graduate.GooglePlus</a></li>
   }
		</ul>
	</div>

	@using (Html.BeginForm())
 {
		@Html.AntiForgeryToken()
		@Html.HiddenFor(_ => _.Graduate.Id)
		<div class="row-fluid">
			<div class="controls">
				<div class="span6">
					@Html.LabelFor(_ => _.Graduate.CurrentStatusId)
					@currentStatus
				</div>
				<div class="span6">
					@Html.LabelFor(_ => _.Graduate.VisaStatusId)
					@visaStatus
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="headline">
					<h4>@ApplicationStrings.Profile</h4>
				</div>
				@Html.Raw(Model.Graduate.Profile)
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="headline">
					<h4>@ApplicationStrings.ProfessionalExperience
					</h4>
				</div>
				@foreach (var degree in Model.Graduate.GraduateExperiences)
	{
					<div class="media row-container">
						<div class="media-body">
							<h4 class="media-heading">@Html.DisplayFor(_ => degree.CompanyName)</h4>
							<p>@Html.DisplayFor(_ => degree.CompanyProfile)</p>
							<p>@Html.DisplayFor(_ => degree.Experience)</p>
						</div>
					</div>
					<hr />
	}
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span12">
				<div class="headline">
					<h4>@ApplicationStrings.Languages</h4>
				</div>
				@foreach (var degree in Model.Graduate.GraduateLanguages)
	{
		var proficiency = ((Identifiers.Proficiency)degree.ProficiencyId).GetDisplayName();
					<div class="media row-container">
						<div class="media-body">
							<h4 class="media-heading">@Html.DisplayFor(_ => degree.Language)</h4>
							<p>@proficiency</p>
						</div>
					</div>
					<hr />
	}
			</div>
		</div>
	 
		<div class="row-fluid">
			<div class="span12">
				<div class="headline">
					<h4>@ApplicationStrings.Education</h4>
				</div>
				@foreach (var degree in Model.Graduate.GraduateDegrees)
	{
					<div class="media row-container">
						<div class="media-body">
							<h4 class="media-heading">@Html.DisplayFor(_ => degree.University)</h4>
							<p>@Html.DisplayFor(_ => degree.Degree)</p>
							<p>@Html.DisplayFor(_ => degree.Specialisation)</p>
						</div>
					</div>
					<hr />
	}
			</div>
		</div>
		
 }

</div>
