@using Zoekjaar.Web.Models
@using Zoekjaar.Resources
@using Zoekjaar.Web.Extensions
@using Entities
@using Recaptcha.Web.Mvc

@model GraduateModel
@{
	ViewBag.Title = "Register as Graduate";
}

<div class="body">
	<div class="container">
		<div class="row-fluid margin-bottom-10">
			@using (Html.BeginForm("CreateGraduateProfile", "Account", FormMethod.Post, new { @class = "reg-page-large" }))
   {
				@Html.AntiForgeryToken()
				@Html.HiddenFor(_ => _.Graduate.Id)
				<div class="controls">
					<div class="span6">
						@Html.LabelFor(_ => _.Email)
						@Html.EditorFor(_ => _.Email, new { @class = "span12" })
					</div>
					<div class="span6">
						@Html.LabelFor(_ => _.ConfirmEmail)
						@Html.EditorFor(_ => _.ConfirmEmail, new { @class = "span12" })
					</div>
				</div>
				<div class="controls">
					<div class="span6">
						@Html.LabelFor(_ => _.Password)
						@Html.PasswordFor(_ => _.Password, new { @class = "span12" })
					</div>
					<div class="span6">
						@Html.LabelFor(_ => _.ConfirmPassword)
						@Html.PasswordFor(_ => _.ConfirmPassword, new { @class = "span12" })
					</div>
				</div>
				<div class="controls">
					<div class="span6">
						@Html.LabelFor(_ => _.Graduate.FirstName)
						@Html.TextBoxFor(_ => _.Graduate.FirstName, new { @class = "span12" })
					</div>
					<div class="span6">
						@Html.LabelFor(_ => _.Graduate.LastName)
						@Html.TextBoxFor(_ => _.Graduate.LastName, new { @class = "span12" })
					</div>
				</div>
				<div class="controls">
					<div class="span6">
						@Html.LabelFor(_ => _.Graduate.CurrentStatusId)
						@Html.DropDownListFor(_ => _.Graduate.CurrentStatusId, Identifiers.CurrentStatus.NA.ToSelectList(), new { @class = "span12" })
					</div>
					<div class="span6">
						@Html.LabelFor(_ => _.Graduate.VisaStatusId)
						@Html.DropDownListFor(_ => _.Graduate.VisaStatusId, Identifiers.VisaStatus.NA.ToSelectList(), new { @class = "span12" })
					</div>
				</div>
				<div class="controls">
					<div class="span12">
						@Html.LabelFor(_ => _.Graduate.AvailableFromDate)
						<div class="input-append date date-picker" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
							@Html.TextBoxFor(_ => _.Graduate.AvailableFromDate, "{0:MM/dd/yyyy}", new { @class = "span12" })
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
					</div>
				</div>
				<div class="controls">
					@Html.Recaptcha()
				</div>
				<div class="controls form-inline">
					<label class="checkbox">
						<input type="checkbox">&nbsp; I read <a href="">Terms and Conditions</a></label>
					<input type="submit" value="@ApplicationStrings.Register" class="btn-u pull-right" />
				</div>
				<hr>
				<p>Already Signed Up? Click <a href="@Url.Action("GraduateLogin", "Account")" class="color-green">Sign In</a> to login your account.</p>
   }
		</div>
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/wysiwyg")
}