@using Zoekjaar.Web.Models
@using Zoekjaar.Resources
@using Zoekjaar.Web.Extensions
@using Entities

@model GraduateModel
@{
	ViewBag.Title = "Register as Graduate";
}

<div class="body">
	<div class="container">
		<div class="row-fluid margin-bottom-10">
			@using (Html.BeginForm("CreateGraduateProfile", "Account", FormMethod.Post, new { @class = "reg-page-large" }))
   {
				@Html.AntiForgeryToken()
				@Html.HiddenFor(_ => _.Graduate.Id)
				<div class="controls">
					<div class="span6">
						@Html.LabelFor(_ => _.Email)
						@Html.TextBoxFor(_ => _.Email, new { @class = "span12" })
					</div>
					<div class="span6">
						@Html.Label("confirm-email", "Confirm Email", new { @class = "control-label" })
						@Html.TextBox("confirm-email", "", new { @class = "span12" })
					</div>
				</div>
				<div class="controls">
					<div class="span6">
						@Html.LabelFor(_ => _.Password)
						@Html.PasswordFor(_ => _.Password, new { @class = "span12" })
					</div>
					<div class="span6">
						@Html.Label("confirm-password", "Confirm Password")
						@Html.Password("confirm-password", null, new { @class = "span12" })
					</div>
				</div>
				<div class="controls">
					<div class="span6">
						@Html.LabelFor(_ => _.Graduate.FirstName)
						@Html.TextBoxFor(_ => _.Graduate.FirstName, new { @class = "span12" })
					</div>
					<div class="span6">
						@Html.LabelFor(_ => _.Graduate.LastName)
						@Html.TextBoxFor(_ => _.Graduate.LastName, new { @class = "span12" })
					</div>
				</div>
				<div class="controls">
					<div class="span6">
						@Html.LabelFor(_ => _.Graduate.CurrentStatusId)
						@Html.DropDownListFor(_ => _.Graduate.CurrentStatusId, Identifiers.CurrentStatus.NA.ToSelectList(), new { @class = "span12" })
					</div>
					<div class="span6">
						@Html.LabelFor(_ => _.Graduate.VisaStatusId)
						@Html.DropDownListFor(_ => _.Graduate.VisaStatusId,  Identifiers.VisaStatus.NA.ToSelectList(), new { @class = "span12" })
					</div>
				</div>
				<div class="controls">
					<div class="span12">
						@Html.LabelFor(_ => _.Graduate.AvailableFromDate)
						@Html.TextBoxFor(_ => _.Graduate.AvailableFromDate, new { @class = "date-picker span6" })
					</div>
				</div>
				<div class="controls form-inline">
					<label class="checkbox">
						<input type="checkbox">&nbsp; I read <a href="">Terms and Conditions</a></label>
					<input type="submit" value="@ApplicationStrings.Register" class="btn-u pull-right" />
				</div>
				<hr>
				<p>Already Signed Up? Click <a href="@Url.Action("GraduateLogin", "Account")" class="color-green">Sign In</a> to login your account.</p>
   }
		</div>
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/wysiwyg")
}