@using Zoekjaar.Web.Models
@using Zoekjaar.Web.Extensions
@using Zoekjaar.Resources

@model CompanyModel

@using (Html.BeginForm("CreateEmployerProfile", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(_ => _.Company.Id)
	@Html.HiddenFor(_ => _.Company.UserId)
	@Html.HiddenFor(_ => _.Company.IsActive)
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="control-group">
					@Html.ControlLabelFor(_ => _.Email)
					<div class="controls">
						@Html.TextBoxFor(_ => _.Email)
						@Html.ControlValidationMessageFor(_ => _.Email)
					</div>
				</div>
			</div>
			<div class="span3">
				<div class="control-group">
					@Html.Label("confirm-email", "Confirm Email", new { @class = "control-label" })
					<div class="controls">
						@Html.TextBox("confirm-email")
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3">
				<div class="control-group">
					@Html.ControlLabelFor(_ => _.Password)
					<div class="controls">
						@Html.PasswordFor(_ => _.Password)
						@Html.ControlValidationMessageFor(_ => _.Password)
					</div>
				</div>
			</div>
			<div class="span3">
				<div class="control-group">
					@Html.Label("confirm-password", "Confirm Password", new { @class = "control-label" })
					<div class="controls">
						@Html.Password("confirm-password")
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="control-group">
					@Html.ControlLabelFor(_ => _.Company.Name)
					<div class="controls">
						@Html.TextBoxFor(_ => _.Company.Name)
						@Html.ControlValidationMessageFor(_ => _.Company.Name)
					</div>
				</div>
			</div>
			<div class="span3">
				<div class="control-group">
					@Html.ControlLabelFor(_ => _.Company.Website)
					<div class="controls">
						@Html.TextBoxFor(_ => _.Company.Website)
						@Html.ControlValidationMessageFor(_ => _.Company.Website)
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3">
				<div class="control-group">
					@Html.ControlLabelFor(_ => _.Company.Sector)
					<div class="controls">
						@Html.TextBoxFor(_ => _.Company.Sector)
						@Html.ControlValidationMessageFor(_ => _.Company.Sector)
					</div>
				</div>
			</div>
			<div class="span3">
				<div class="control-group">
					@Html.ControlLabelFor(_ => _.Company.LinkedIn)
					<div class="controls">
						@Html.TextBoxFor(_ => _.Company.LinkedIn)
						@Html.ValidationMessageFor(_ => _.Company.LinkedIn)
					</div>
				</div>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span3">
				<div class="control-group">
					@Html.ControlLabelFor(_ => _.Company.City)
					<div class="controls">
						@Html.TextBoxFor(_ => _.Company.City)
						@Html.ControlValidationMessageFor(_ => _.Company.City)
					</div>
				</div>
			</div>
			<div class="span3">
				<div class="control-group">
					@Html.LabelFor(_ => _.Company.GooglePlus)
					<div class="controls">
						@Html.TextBoxFor(_ => _.Company.GooglePlus)
						@Html.ControlValidationMessageFor(_ => _.Company.GooglePlus)
					</div>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3">
				<div class="control-group">
					@Html.LabelFor(_ => _.Company.Profile)
					<div class="controls">
						@Html.TextAreaFor(_ => _.Company.Profile)
						@Html.ValidationMessageFor(_ => _.Company.Profile)
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<input type="submit" value="@ApplicationStrings.LoginCreateProfile" class="btn btn-primary" />
	</div>
	
}