@using Zoekjaar.Web.Models
@using Zoekjaar.Web.Extensions
@using Zoekjaar.Resources
@using Zoekjaar.Web.Controllers

@{
	ViewBag.Title = ApplicationStrings.ForgotPassword;
}

@model ForgotPasswordModel

<div class="container">
	<div class="row-fluid">
		@if (Model.IsSuccessful.HasValue)
  {
	  var alertClass = Model.IsSuccessful.Value ? "success" : "error";
	 
		
			<div class="alert alert-@alertClass">
				@Model.Message
			</div>
  }
		@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "reg-page-large" }))
  {
			@Html.AntiForgeryToken()
			<div class="controls">
				@Html.LabelFor(_ => _.Email)
				@Html.EditorFor(_ => _.Email, new { @class = "span12" })
				@Html.ValidationMessageFor(_ => _.Email)
			</div>
			<div class="controls">
				<input type="submit" value="@ApplicationStrings.Submit" class="btn-u" />
			</div>
  }
	</div>
</div>
