@using Zoekjaar.Resources
@using Zoekjaar.Web.Models

@{
	ViewBag.Title = "Home";
}

@model HomeModel

<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="headline">
				<h3>@ApplicationStrings.FeaturedCompanies</h3>
			</div>
			<div id="clients-flexslider" class="flexslider home clients">
				<div class="headline">
					<h3>Our Clients</h3>
				</div>

				<div class="flex-viewport" style="overflow: hidden; position: relative;">
					<ul class="slides" style="width: 3400%; -webkit-transition: 0.6s; transition: 0.6s; -webkit-transform: translate3d(-780px, 0, 0);">
						@foreach (var company in Model.FeaturedCompanies)
	  {
		  var currentRoute = new RouteValueDictionary(this.ViewContext.RouteData.Values);
		  currentRoute["id"] = company.Id;
							<li style="width: 129px; float: left; display: block;">
								@Html.ActionLink(company.Name, "ViewProfile", "Company", currentRoute, new Dictionary<string, object>())
							</li>
	  }
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<div class="headline">
				<h3>@ApplicationStrings.FeaturedJobs</h3>
			</div>
			@foreach (var job in Model.FeaturedJobs)
   {
				@Html.Partial("_FeaturedJob", job)
   }
		</div>

		<div class="span6">
			<div class="headline">
				<h3>@ApplicationStrings.LatestJobs</h3>
			</div>
			@foreach (var job in Model.LatestJobs)
   {
				@Html.Partial("_FeaturedJob", job)
   }
		</div>
	</div>

</div>
