@using Zoekjaar.Web.Models
@using Zoekjaar.Resources

@model GraduateLinkModel

<div class="headline">
	<h4>@ApplicationStrings.OtherLinks</h4>
</div>

@if (Model.IsSuccessful.HasValue)
{
	string message;
	if (Model.IsSuccessful.Value)
	{
		message = string.Format("{1} {0}", ApplicationStrings.Saved, ApplicationStrings.OtherLinks);
	<div class="alert alert-success"><strong>@ApplicationStrings.Success</strong>  @message</div>
	}
	else
	{
		message = string.Format("Error {0} {1}", ApplicationStrings.Saving, ApplicationStrings.OtherLinks);
	<div class="alert alert-error"><strong>@ApplicationStrings.Failed</strong> @message</div>
	}
}

<div class="controls">
	@Html.LabelFor(_ => _.LinkedIn)
	@Html.TextBoxFor(_ => _.LinkedIn, new { @class = "span12" })
	@Html.ValidationMessageFor(_ => _.LinkedIn)

	@Html.LabelFor(_ => _.GooglePlus)
	@Html.TextBoxFor(_ => _.GooglePlus, new { @class = "span12" })
	@Html.ValidationMessageFor(_ => _.GooglePlus)
</div>
<div class="controls">
	<div class="span12">
		<input id="save" type="submit" name="submit-link" class="btn-u pull-right btn-save" data-target-url="@Url.Action("Link")" value="@ApplicationStrings.SaveChanges" />
	</div>
</div>
