@using Zoekjaar.Web.Models
@using Zoekjaar.Web.Extensions
@using Zoekjaar.Resources

@model GraduateProfileModel
@{
	ViewBag.Title = ApplicationStrings.MyProfile;
}

<div class="body">
	<div class="container">
		<div class="row-fluid margin-bottom-10">
			@using (Html.BeginForm())
   { 
				<div class="span8 profile-container">
					@Html.Partial("_PersonalInformation", Model)
				</div>
				<div class="span4 sidebar pull-right">
					<ul class="nav nav-list">
						<li><a class="graduate-menu" data-target-url="@Url.Action("PersonalInformation")" href="#">@ApplicationStrings.PersonalInformation</a></li>
						<li><a class="graduate-menu" data-target-url="@Url.Action("Education")" href="#">@ApplicationStrings.Education</a></li>
						<li><a class="graduate-menu" data-target-url="@Url.Action("Language")" href="#">@ApplicationStrings.Languages</a></li>
						<li><a class="graduate-menu" data-target-url="@Url.Action("Experience")" href="#">@ApplicationStrings.ProfessionalExperience</a></li>
						<li><a class="graduate-menu" data-target-url="@Url.Action("Link")" href="#">@ApplicationStrings.OtherLinks</a></li>
					</ul>
				</div>
   }
		</div>
	</div>
</div>

@section scripts{
	@Scripts.Render("~/bundles/wysiwyg")
}
