@using Zoekjaar.Web.Models
@using Zoekjaar.Web.Controllers
@using Zoekjaar.Web.Extensions

@{
	ViewBag.Title = "Search Job";
	var currentRoute = new RouteValueDictionary(this.ViewContext.RouteData.Values);
}

@model JobSearchModel

<div class="container">
	@using (Html.BeginForm())
 {
		@Html.AntiForgeryToken()

		<div class="row-fluid">
			<div class="search-query">
				<div class="input-append">
					@Html.TextBoxFor(_ => _.Criteria.Keyword, new { placeholder = "What kind of job are you looking for?", @class = "span12" })
					<input class="btn-u" type="submit" value="Search" />
				</div>
			</div>
		</div>
		
		<div class="row-fluid search-page">

			@{
	 if (Model.Criteria.TotalRecords.HasValue)
	 {
		 if (Model.Jobs.Any())
		 {
				<div class="alert alert-success">
					We found
					
						<strong>@Model.Criteria.TotalRecords</strong>
					matches.
				
				</div>
	   
			 foreach (var job in Model.Jobs)
			 {
				 currentRoute["id"] = job.JobId;
				<div class="row-fluid">
					<div class="span12 booking-blocks">
						<div class="pull-left booking-img">
							<img src="assets/img/new/img1.jpg" alt="">
							<ul class="unstyled">
								<li><i class="icon-user"></i>Hiring: @Html.DisplayFor(_ => job.HiringManager)</li>
								<li><i class="icon-user"></i>HR: @Html.DisplayFor(_ => job.HrManager)</li>
								<li><i class="icon-briefcase"></i>@Html.DisplayFor(_ => job.CompanyName)</li>
								@if (!string.IsNullOrEmpty(job.City))
		{ 
									<li><i class="icon-map-marker"></i>@Html.DisplayFor(_ => job.City)</li>
		}
							</ul>
						</div>
						<div style="overflow: hidden;">
							<h2>@Html.ActionLink(job.Title, "ViewJob", "Company", currentRoute, null)</h2>
							<p>@Html.Display(string.Format("{0}-{1}", job.JobType, job.Function))</p>
							<p>@Html.DisplayFor(_ => job.Description) <a href="@Url.Action("ViewJob", "Company", currentRoute)">read more</a></p>
							@if (job.CanApply)
	   { 

								<button id="apply-button" class="btn-u btn-mini apply" data-target-url="@Url.Action("Apply", currentRoute)">@Html.LabelFor(_ => job.CanApply)</button>
	   }
	   else
	   {

								<span class="label label-info">Applied</span>
	   }
						</div>
					</div>
				</div>
			 }
				<div class="pagination">
					<ul>
						@for (var i = 0; i < (Model.Criteria.TotalRecords / CompanyController.PageSize) + (Model.Criteria.TotalRecords % CompanyController.PageSize > 0 ? 1 : 0); i++)
	  {
		  currentRoute["pageNumber"] = i;

							<li><a href="@Url.Action("SearchJob", currentRoute)">@(i + 1)</a></li>
	  }
					</ul>
				</div>
		 }
		 else
		 {

				<div class="alert alert-info">
					<strong>Ooops!</strong>
					We found <strong>0</strong> matches.
			
				</div>
		 }
	 }
			}
		</div>
 }
</div>
