@using Zoekjaar.Resources
@using Zoekjaar.Web.Models
@using Entities
@using Core.Extensions
@using Core.Annotations

@{
	ViewBag.Title = ApplicationStrings.MyJobApplications;
	var currentRoute = new RouteValueDictionary(this.ViewContext.RouteData.Values);
}

@model JobApplicationModel

<div class="container">
	<div class="row-fluid">
		@using (Html.BeginForm())
  {
	  if (Model.Jobs.Count() > 0)
	  { 
			<table class="table table-hover">
				@foreach (var job in Model.Jobs)
	{
		var status = ((Identifiers.RecruitmentStage)job.StatusId).GetDisplayName();
		currentRoute["id"] = job.JobId;
		currentRoute["companyId"] = job.CompanyId;
		var jobType = ((Identifiers.JobType)job.JobTypeId).GetDisplayName();
		var className = ((Identifiers.JobType)job.JobTypeId).GetAttribute<BadgeAttribute>().ClassName;
		var htmlAttributes = new Dictionary<string, object>();
		htmlAttributes["class"] = "text-info";
		
					<tr>
						<td>
								@{
		 var imageUrl = !string.IsNullOrEmpty(job.LogoUrl) ? Url.Content(string.Format("~/Content/images/Companies/{0}", job.LogoUrl)) : Url.Content("~/Content/images/logo.png");
								}
								<img src="@imageUrl" alt="@job.CompanyName" style="width:100px;height:100px;" />
							</td>
						<td>
							<h4>@Html.ActionLink(job.Title, "Details", "Job", currentRoute, htmlAttributes)</h4>
							<p class="muted">@Html.DisplayFor(_ => job.CompanyName)</p>
							<p><span class="label @className">@jobType</span></p>
						</td>
						<td><span class="text-error">@ApplicationStrings.DateApplied: <strong>@Html.DisplayFor(_ => job.DateApplied)</strong></span></td>
						<td><span class="label label-info">@status</span></td>
					</tr>
	}
			</table>
	  }
	  else
	  {
			<div class="alert alert-error">You do have <strong>0 active</strong> job applications!</div>
	  }
  }
	</div>
</div>
