@using Zoekjaar.Resources
@using Zoekjaar.Web.Models
@using Entities
@using Core.Extensions

@{
	ViewBag.Title = ApplicationStrings.MyJobApplications;
}

@model JobApplicationModel

<div class="container">
	<div class="row-fluid">
		@using (Html.BeginForm())
  {
	  if (Model.Jobs.Count() > 0)
	  { 
			<table class="table table-hover">
				<tr>
					<th>@ApplicationStrings.DateApplied</th>
					<th>@ApplicationStrings.Title</th>
					<th>@ApplicationStrings.RecruitmentStatus</th>
				</tr>
				@foreach (var job in Model.Jobs)
	{
		var status = ((Identifiers.RecruitmentStage)job.StatusId).GetDisplayName();
					<tr>
						<td>@Html.DisplayFor(_ => job.DateApplied)</td>
						<td>@Html.DisplayFor(_ => job.Title)</td>
						<td>@status</td>
					</tr>
	}
			</table>
	  }
	  else
	  {
			<div class="alert alert-error">You do have <strong>0 active</strong> job applications!</div>
	  }
  }
	</div>
</div>
