@using Zoekjaar.Web
@using Zoekjaar.Web.Models
@using Zoekjaar.Web.Controllers
@using Zoekjaar.Web.Extensions
@using Zoekjaar.Resources
@using Entities

@{
	ViewBag.Title = ApplicationStrings.SearchJobs;
	var currentRoute = new RouteValueDictionary(this.ViewContext.RouteData.Values);
}

@model GraduateSearchModel

<div class="container">
	<div class="row-fluid">
		@using (Html.BeginForm())
  {
			@Html.AntiForgeryToken()
		
			<div class="controls">
				<div class="span12">
					<div class="input-append">
						@Html.LabelFor(_ => _.Criteria.Keyword)
						@Html.TextBoxFor(_ => _.Criteria.Keyword)<input class="btn-u" type="submit" value="@ApplicationStrings.Search" />
					</div>
				</div>
			</div>
			<div class="controls">
				<div class="span3">
					@Html.LabelFor(_ => _.Criteria.VisaStatusId)
					@Html.DropDownListFor(_ => _.Criteria.VisaStatusId, Identifiers.VisaStatus.NA.ToSelectList())
				</div>
				<div class="span3">
					@Html.LabelFor(_ => _.Criteria.CurrentStatusId)
					@Html.DropDownListFor(_ => _.Criteria.CurrentStatusId, Identifiers.CurrentStatus.NA.ToSelectList())
				</div>
			</div>
		
  }
	</div>
</div>
<div class="container">
	<div class="row-fluid search-page">

		@{
			if (Model.Criteria.TotalRecords.HasValue)
			{
				if (Model.Graduates.Any())
				{
			<div class="alert alert-success">We found <strong>@Model.Criteria.TotalRecords</strong> matches.</div>
			<table class="table table-striped">
				<tr>
					<th>@ApplicationStrings.Name</th>
					<th>@ApplicationStrings.VisaStatus</th>
					<th>@ApplicationStrings.CurrentStatus</th>
					<th>@ApplicationStrings.ActiveApplications</th>
				</tr>
				@foreach (var graduate in Model.Graduates)
	{
		currentRoute[RouteConfig.Id] = graduate.GraduateId;
					<tr>
						<td>@Html.ActionLink(graduate.Name, "Graduate", "Profile", currentRoute, new Dictionary<string, object>())</td>
						<td>@Html.DisplayFor(_ => graduate.VisaStatus)</td>
						<td>@Html.DisplayFor(_ => graduate.CurrentStatus)</td>
						<td>@foreach (var application in graduate.Applications)
		  {
			  currentRoute[RouteConfig.Id] = application.Item1;
							<p><a href="@Url.Action("Details", "Job", currentRoute)">@application.Item2</a></p>
		  }
						</td>
					</tr>
	}
			</table>
			<div class="pagination">
				<ul>
					@for (var i = 0; i < (Model.Criteria.TotalRecords / CompanyController.PageSize) + (Model.Criteria.TotalRecords % CompanyController.PageSize > 0 ? 1 : 0); i++)
	 {
		 currentRoute["pageNumber"] = i;

						<li><a href="@Url.Action("Search", currentRoute)">@(i + 1)</a></li>
	 }
				</ul>
			</div>
				}
				else
				{

			<div class="alert alert-info">
				<strong>Ooops!</strong>
				We found <strong>0</strong> matches.
			
			</div>
				}
			}
		}
	</div>

</div>
