@using Zoekjaar.Web.Models
@using Zoekjaar.Web.Extensions
@using Zoekjaar.Resources
@using Zoekjaar.Web.Controllers

@model ChangePasswordModel
@if (Model.IsSuccessful.HasValue)
{
	if (Model.IsSuccessful.Value)
	{
	<div class="alert alert-success"><strong>@ApplicationStrings.Success</strong>  @ApplicationStrings.PasswordChanged</div>
	}
	else
	{
	<div class="alert alert-error alert-block">
		<strong>@ApplicationStrings.Failed</strong>
		@foreach (var error in ViewContext.ViewData.ModelState.Single(s => s.Key == AccountController.ChangePasswordKey).Value.Errors.ToList())
  {
			<p>@error.ErrorMessage</p>
  }
	</div>
	}
}
<div class="controls">
	<div class="span4">
		@Html.LabelFor(_ => _.CurrentPassword)
		@Html.PasswordFor(_ => _.CurrentPassword, new { @class = "span12" })
		@Html.ValidationMessageFor(_ => _.CurrentPassword)
	</div>
	<div class="span4">
		@Html.LabelFor(_ => _.NewPassword)
		@Html.PasswordFor(_ => _.NewPassword, new { @class = "span12" })
		@Html.ValidationMessageFor(_ => _.NewPassword)
	</div>
	<div class="span4">
		@Html.LabelFor(_ => _.ConfirmNewPassword)
		@Html.PasswordFor(_ => _.ConfirmNewPassword, new { @class = "span12" })
		@Html.ValidationMessageFor(_ => _.ConfirmNewPassword)
	</div>
</div>
<div class="controls">
	<div class="span12">
		<input id="save" type="submit" name="submit-change-password" class="btn-u pull-right btn-save" data-target-url="@Url.Action("ChangePassword")" value="@ApplicationStrings.SaveChanges" />
	</div>
</div>
