@using Zoekjaar.Web.Extensions
@using Zoekjaar.Resources

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - Zoekjaar</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	@Styles.Render("~/Content/bootstrap")
	@Scripts.Render("~/Content/modernizr")
	@Styles.Render("~/Content/unifycss")
	@Styles.Render("~/Content/style")
	<link rel="stylesheet" href="~/Content/unify/css/themes/default.css" id="style_color">
	<link rel="stylesheet" href="~/Content/unify/css/themes/headers/default.css" id="style_color-header-1">
	@RenderSection("styles", required: false)
	@Html.ViewStyle()
</head>
<body>
	<i class="style-switcher-btn icon-cogs"></i>
	<div class="top">
		<div class="style-switcher">
			<div class="theme-close"><i class="icon-remove"></i></div>
			<div class="theme-heading">Theme Colors</div>
			<ul class="unstyled">
				<li class="theme-default theme-active" data-style="default" data-header="light"></li>
				<li class="theme-blue" data-style="blue" data-header="light"></li>
				<li class="theme-orange" data-style="orange" data-header="light"></li>
				<li class="theme-red" data-style="red" data-header="light"></li>
				<li class="theme-light" data-style="light" data-header="light"></li>
			</ul>
		</div>
		<div class="container">
			<ul class="loginbar pull-right">
				<li><a href="page_faq.html" class="login-btn">Help</a></li>
				<li class="devider">&nbsp;</li>
				@if (Request.IsAuthenticated)
	{ 
					<li>@Html.ActionLink(@ApplicationStrings.Logout, "Logout", "Account")</li>}
	else
	{ 
					<li><a href="@Url.Action("GraduateLogin", "Account")" class="login-btn">@ApplicationStrings.Login</a></li>
	}
			</ul>
		</div>
	</div>
	<div class="header">
		<div class="container">
			<!-- Logo -->
			<div class="logo">
				<a href="index.html">
					<img id="logo-header" src="@Url.Content("~/Content/unify/img/logo1-default.png")" alt="Logo"></a>
			</div>
			<!-- /logo -->

			<!-- Menu -->
			<div class="navbar">
				<div class="navbar-inner">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<!-- /nav-collapse -->
					<div class="nav-collapse collapse">
						<ul class="nav top-2">
							<li class="active">
								<a href="@Url.Action("Index", "Home")">@ApplicationStrings.Home</a>
							</li>
							@if (Request.IsAuthenticated)
	   {
		   if (this.User.IsInRole("Graduate"))
		   { 
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Graduate <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li>@Html.ActionLink(ApplicationStrings.SearchJobs, "Search", "Job")</li>
										<li>@Html.ActionLink(ApplicationStrings.EditProfile, "Edit", "Graduate")</li>
										<li>@Html.ActionLink(ApplicationStrings.MyJobApplications, "Applications", "Candidate")</li>
									</ul>
								</li>
		   }
		   if (this.User.IsInRole("Company"))
		   { 
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Company <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li>@Html.ActionLink(ApplicationStrings.SearchGraduates, "Search", "Candidate")</li>
										<li>@Html.ActionLink(ApplicationStrings.EditProfile, "Edit", "Company")</li>
										<li>@Html.ActionLink(ApplicationStrings.PostedJobs, "Index", "Job")</li>
									</ul>
								</li>
		   }
	   }
	   else
	   { 
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">@ApplicationStrings.Graduates <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li>@Html.ActionLink(ApplicationStrings.Login, "GraduateLogin", "Account")</li>
										<li>@Html.ActionLink(ApplicationStrings.Register, "CreateGraduateProfile", "Account")</li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">@ApplicationStrings.Companies <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li>@Html.ActionLink(ApplicationStrings.Login, "EmployerLogin", "Account")</li>
										<li>@Html.ActionLink(ApplicationStrings.Register, "CreateEmployerProfile", "Account")</li>
									</ul>
								</li>
	   }
							<li>@Html.ActionLink(ApplicationStrings.About, "About", "Home")</li>
							<li>@Html.ActionLink(ApplicationStrings.Contact, "Contact", "Home")</li>
							<li><a class="search"><i class="icon-search search-btn"></i></a></li>
						</ul>
						<div class="search-open">
							<div class="input-append">
								<form>
									<input type="text" class="span3" placeholder="@ApplicationStrings.Search">
									<button type="submit" class="btn-u">@ApplicationStrings.Go</button>
								</form>
							</div>
						</div>
					</div>
					<!-- /nav-collapse -->
				</div>
				<!-- /navbar-inner -->
			</div>
			<!-- /navbar -->
		</div>
		<!-- /container -->
	</div>
	@if (!string.Equals(ViewBag.Title, "Home", StringComparison.InvariantCultureIgnoreCase))
 { 
		<div class="breadcrumbs margin-bottom-20">
			<div class="container">
				<h1 class="color-green pull-left">@ViewBag.Title</h1>
				@*<ul class="pull-right breadcrumb">
				<li><a href="index.html">Home</a> <span class="divider">/</span></li>
				<li><a href="">Pages</a> <span class="divider">/</span></li>
				<li class="active">Login</li>
			</ul>*@
			</div>
			<!--/container-->
		</div>
 }

	@RenderSection("featured", required: false)
	@RenderBody()

	<div class="footer">
		<div class="container">
			<div class="row-fluid">
				<div class="span4">
					<!-- About -->
					<div class="headline">
						<h3>About</h3>
					</div>
					<p class="margin-bottom-25">Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.</p>

					<!-- Monthly Newsletter -->
					<div class="headline">
						<h3>Monthly Newsletter</h3>
					</div>
					<p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
					<form class="form-inline">
						<div class="input-append">
							<input type="text" placeholder="Email Address" class="input-medium">
							<button class="btn-u">Subscribe</button>
						</div>
					</form>
				</div>
				<!--/span4-->

				<div class="span4">
					<div class="posts">
						<div class="headline">
							<h3>Recent Blog Entries</h3>
						</div>
						<dl class="dl-horizontal">
							<dt><a href="#">
								</dt>
							<dd>
								<p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="#">
								</dt>
							<dd>
								<p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt><a href="#">
								</dt>
							<dd>
								<p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
							</dd>
						</dl>
					</div>
				</div>
				<!--/span4-->

				<div class="span4">
					<!-- Monthly Newsletter -->
					<div class="headline">
						<h3>Contact Us</h3>
					</div>
					<address>
						25, Lorem Lis Street, Orange
						<br>
						California, US
						<br>
						Phone: 800 123 3456
						<br>
						Fax: 800 123 3456
						<br>
						Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
					</address>

					<!-- Stay Connected -->
					<div class="headline">
						<h3>Stay Connected</h3>
					</div>
					<ul class="social-icons">
						<li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
						<li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
						<li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
						<li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
						<li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
						<li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
						<li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
					</ul>
				</div>
				<!--/span4-->
			</div>
			<!--/row-fluid-->
		</div>
		<!--/container-->
	</div>

	<div class="copyright">
		<div class="container">
			<div class="row-fluid">
				<div class="span8">
					<p>2013 © Unify. ALL Rights Reserved. <a href="@Url.Action("PrivacyPolicy", "Home")">@ApplicationStrings.PrivacyPolicy</a> | <a href="@Url.Action("TermsOfService", "Home")">@ApplicationStrings.TermsOfService</a></p>
				</div>
				<div class="span4">
					<a href="index.html">
						<img id="logo-footer" src="~/Content/unify/img/logo2-default.png" class="pull-right" alt=""></a>
				</div>
			</div>
			<!--/row-fluid-->
		</div>
		<!--/container-->
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/unifyjs")
	@Scripts.Render("~/bundles/ts")

	@RenderSection("scripts", required: false)
	@Html.ViewScript()
</body>
</html>
